/* .card:hover{
  background-color: #76a6f8;
} */

$text-color: #293856;


.card{
  border: none !important;
  color: $text-color;
  font-size: 20px;
  text-align: center;
}

.about-card{
  background-color: #FFCC66;
}

.example-card {
  color: #1e2b42;
  background-color: #ededed;
  font-size: 17px;
  border-radius: 20px;
  margin: 18px;
  text-align: left;
}

.example-text {
  font-size: 16px;
  font-weight: bold;
}

.info-title {
  font-weight: bold !important;
  font-size: 25px;
}

.desc-para {
  border: none !important;
  color: $text-color;
  font-size: 20px;
  text-align: center;
}

a:hover {
  color: #061f80;
  text-decoration: none !important;
}





.judge-card {
  color: #1e2b42;
  background-color: white;
  font-size: 17px;
  text-align: left;
}

.prize-card {
  color: #1e2b42;
  background-color: #D0CECE;
  font-size: 17px;
  text-align: left;
}